---
---
@charset 'utf-8';
// see https://fonts.google.com/
@import 'https://fonts.googleapis.com/css?family=Lora';

$black: #000;
$white: #fff;
$gray: lighten($black, 50);
$code-font: 'Source Code Pro', monospace;
$em: 19px;
%gray { color: lighten($black, 50); }

%unprintable {
  @media print {
    display: none !important;
    visibility: hidden;
  }
}

.unprintable { @extend %unprintable; }

.gray { @extend %gray; }

%center { text-align: center; }

.center { @extend %center; }

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, li {
  font-family: 'Lora', serif;
}

p {
  font-size: 18px;
}

li {
  font-size: 18px;
}

.link {
  font-family: 'Lora', serif;
  font-size: 18px;
}

body {
  padding: 2em;
  color: black;
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 640px;
}

header {
  @extend %center;

  input {
    border: 1px solid $black;
    max-width: 100%;
    padding: .2em .6em;
  }

  .photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  form,
  nav {
    margin: .4em 0;
  }

  ul li {
    display: inline;
    margin-right: .4em;
  }
}

article {
  margin: 3em 0;

  h1 {
    font-size: 30px;
    font-weight: bold;
  }

  h1 a {
    text-decoration: none;
    span {
      font-size: 30px;
      font-weight: bold;
    }
  }

  p {
    line-height: 26px;
  }

  h2 {
    font-size: 1.4em;
    font-weight: bold;
  }

  p,
  h1,
  h2,
  h3,
  ul,
  ol {
    margin-bottom: .4em;
    margin-top: .4em;
  }

  ul,
  ol {
    margin-left: 3em;
  }
}

footer {
  @extend %gray;
  @extend %center;
  font-size: .8em;
  font-family: 'Lora', serif;
}

code {
  background-color: #d0d0d0;
  font-family: monospace;
  margin-top: 5px;
  padding: .1em .2em;
}

.disqus {
  margin: 4em 0;
}

img[src$="centered"] {
  display:block;
  margin: 20px auto;
}

a, a:visited {
  color: inherit;
  text-decoration: underline;
}

blockquote {
  padding: 0 1em;
  border-left: 0.25em solid #dfe2e5;
}

.social {
  width: 20px;
  height: 20px;
}

.share {
  @extend %unprintable;
  margin-bottom: .5em;

  a,
  a:visited {
    text-decoration: none;
  }

  a {
    position: relative;

    .count {
      background-color: $white;
      border: 1px solid $gray;
      color: $gray;
      display: none;
      font-family: $code-font;
      font-size: .6 * $em;
      line-height: .7 * $em;
      padding: 0 .2 * $em;
      position: absolute;
      right: .3 * $em;
      top: -.7 * $em;
    }

    .icon {
      $size: 35px;
      border: 1px solid $gray;
      border-radius: 50%;
      color: $gray;
      display: inline-block;
      height: $size;
      width: $size;
      margin-right: .2 * $em;
      padding: 5px;
      text-align: center;
      vertical-align: middle;

      &:hover {
        background-color: $gray;
        color: $white;
      }
    }

    .icon::before {
      font-size: $em;
      line-height: 1.2 * $em;
    }

    .icon-twitter:hover { color: #00aced; }
    .icon-stackoverflow:hover { color: #f48024; }
    .icon-github:hover { color: #800080; }
    .icon-facebook:hover { color: #3b5998; }
    .icon-linkedin:hover { color: #007bb6; }
    .icon-instagram:hover { color: #fd1d1d; }
    .icon-rss:hover { color: #f60; }
    .icon-reddit:hover { color: #cee3f8; }
    .icon-pinterest:hover { color: #c92228; }
    .icon-youtube:hover { color: #e52d27; }
    .icon-angellist:hover { color: #6694ca; }
    .icon-gitter:hover { color: #ff006e; }
    .icon-podcast:hover { color: #f50; }
  }
}
