---
layout: compress
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US"
  itemscope="" itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords | join:', ' | xml_escape }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
    <meta property="og:image" content="http://bit.ly/2ZW2KTq" />
    <meta property='og:title' content="{{ page.title }}"/>
    <meta property='og:description' content="{{ page.title }}"/>
    <meta property='og:url' content="{{ page.url }}"/>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.png"/>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <section>
      <header>
        <a href="/about.html">
          <img src="https://bit.ly/2xTdV58" class="photo" alt="" itemprop="image"/>
        </a>
        <nav>
          <ul>
            <li><a class="link" href="/">Home</a></li>
            <li><a class="link" href="/about.html">About</a></li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><a href="https://github.com/IlyaZinkovich" rel="nofollow" title="Fork me on GitHub"><img src="/images/github-logo.svg" class="social icon-github" alt="" itemprop="image"/></a></li>
            <li><a href="https://twitter.com/intent/follow?screen_name=IlyaZinkovich" rel="nofollow" title="Follow me on Twitter"><img src="/images/twitter-logo.svg" class="social icon-twitter" alt="" itemprop="image"/></a></li>
            <li><a href="/rss.xml" rel="nofollow" title="Subscribe to my RSS feed"><img src="/images/rss-logo.svg" class="social icon-rss" alt="" itemprop="image"/></a></li>
            <li><a href="https://linkedin.com/in/ilyazinkovich" rel="nofollow" title="My LinkedIn profile"><img src="/images/linkedin-logo.svg" class="social icon-linkedin" alt="" itemprop="image"/></a></li>
            <li><a href="https://medium.com/@ilyazinkovich" rel="nofollow" title="My Medium profile"><img src="/images/medium-logo.svg" class="social icon-medium" alt="" itemprop="image"/></a></li>
            <li><a href="mailto:ilya.zinkovich@gmail.com" rel="nofollow" title="Email me"><img src="/images/email-logo.svg" class="social icon-email" alt="" itemprop="image"/></a></li>
          </ul>
        </nav>
        <form method="get" action="https://www.google.com/search" style="display:none">
          <input name="sitesearch" value="ilyazinkovich.github.io" type="hidden"/>
          <input type="text" name="q" placeholder="Search" autocomplete="off" size="30"/>
        </form>
      </header>
      {{ content }}
      <footer>
        (c)
        <span itemscope="" itemtype="http://schema.org/Person">
          <span itemprop="name">Ilya Zinkovich</span>
        </span>
        <br/>
        2018-2020
      </footer>
    </section>
  </body>
</html>
